{% extends 'index2/base.html' %}
{% block beforeMain %}
        <div class="detail">
          <div class="detail_left">
            <img src="/media/{{ head.0.image }}" alt="">
          </div>
          <div class="detail_right">
              {% autoescape off %}
                  {{ head.0.article.content }}
              {% endautoescape %}
          </div>
        </div>
{% endblock %}
{% block main %}
          <div class="main_left">
            <div class="main_out highlights">
              <ul>
                  {% for i in hl %}
                <li>
                  <a href="/article?id={{ i.id }}">
                    <span>{{ i.title }}</span>
                  </a>
                </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="main_in discovers">
              <div class="in_title">
                <span>研究资讯</span>
              </div>
              <div class="main_out">
                <ul>
                  {% for i in info %}
                <li>
                  <a href="/article?id={{ i.id }}">
                    <span>{{ i.title }}</span>
                  </a>
                </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="main_right">
            <div class="main_out guides">
              <ul>
                {% for i in po %}
                <li>
                  <a href="/article?id={{ i.id }}">
                    <span>{{ i.title }}</span>
                  </a>
                </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="main_in knowledges">
              <div class="in_title">
                <span>基础知识</span>
              </div>
              <div class="main_out">
                <ul>
                  {% for i in fi %}
                <li>
                  <a href="/article?id={{ i.id }}">
                    <span>{{ i.title }}</span>
                  </a>
                </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            </div>
          </div>
{% endblock %}
